@keyframes overlapTest {
    from{        
        transform: translateX(100vw);
    }
    
    to{
        transform: translateX(0);
    }    
}

body{
    overflow: hidden;
}

body.transitions-active{
    pointer-events: none;
}


header{
    background-color: lightblue;
    display: flex;
    flex-direction: column ;
    height: 20vh;
} 

header div , footer div{
    margin:auto
}

nav{
    display: flex;
}

footer{
    display: flex;
    background-color: lightgreen;
    height: 10vh;
    position: absolute;
    top: 80vh;
    left: 0;
    right: 0;
}

main{
    height: 60vh;
    background-color: lightyellow;
    position: absolute;
    
}
